/* styles for Project 5 */

body {
    
    font-family: avenir-light, sans-serif;
    font-weight: 100;
    font-style: normal;
    letter-spacing: .25px;
    line-height: 1.5;
    padding: 7%;
    background-image: linear-gradient(white, cornflowerblue);
    
}

h1 {
    
    color: cornflowerblue;
    font-size: 6em;
    letter-spacing: 9px;
    font-family: museo-slab, serif;
    font-weight: 700;
    font-style: normal; 
}

img {
    
    width: 100%;
    padding-top: 5%;
}

h2 { 
    
    color: darkcyan;
        
}

