

body {
    
    font-family: avenir-light, sans-serif;
    font-weight: 100;
    font-style: normal;
    letter-spacing: .65px;
    line-height: 1.5;
    padding: 7%;
    
}

ul {
    
    list-style-type: none;
    
}

h4 {

    padding-left: 10px;
}

h1 {
    
    font-size: 60px;
}

h2 { 
    font-size: 40px; 
    text-align: centered;
}

h3 {
    
    font-size: 20px;
}

.header {
  background-image: url(../img/beans.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  height: 80vh;
}

 .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 4fr;
    grid-gap: 2rem;
  }


@media only screen and (max-width: 650px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
}

    


